@charset 'utf-8';
* {
	box-sizing: border-box;
}

html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
input,
figure {
	margin: 0;
	padding: 0;
}

i,
a {
	font-style: normal;
}

b,
strong {
	font-weight: normal;
}

u,
a {
	text-decoration: none;
}

ul,
li,
ol {
	list-style: none;
}

img {
	border: 0;
	display: block;
}

input {
	outline: none;
}


/*body {
	font-family: "宋体";
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 16px;
	font-weight: normal;
}

.clear_fix:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
/*logo*/
#header{
	width: 990px;
	height: 97px;
	margin: 0 auto;
	padding-top: 10px;
}
#header .header_logoOne{
	width: 227px;
	height: 50px;
	float: left;
}
#header .header_logoOne h3{
	font-size: 20px;
	line-height: 62px;
	text-align: center;
}
#header .header_logo_right{
	width: 325px;
	height: 28px;
	margin-top: 22px;
	float: left;
	margin-left: 500px;
	border: 2px solid red;
}
#header .header_logo_right .headerlogoBtn{
	display: block;
	width: 48px;
	height: 24px;
	color: #fff;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	background: red;
	float: right;
}
#Goshop{
	width:990px ;
	height: 298px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 120px;
}
#Goshop .GoshopCon{
	width: 990px;
	height: 98px;
	padding-left: 341px;
	background: url(../images/adidas/banner/2.png)no-repeat  250px 22px;
	
}
#Goshop .GoshopCon .shopCon_Div{
	width: 649px;
	height: 76px;
	padding-top: 22px;
}
#Goshop .GoshopCon .shopCon_Div .Goshop_DivOne{
	width: 649px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
	color: #666;
}
#Goshop .GoshopCon .shopCon_Div .Goshop_DivTwo{
	width: 649px;
	height: 26px;
	margin-top: 2px;
}
#Goshop .GoshopCon .shopCon_Div .Goshop_DivTwo .Goshop_DivA{
	display: inline-block;
	width: 44px;
	height: 25px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 25px;
	border-radius: 3px;
	background: red;
	margin-right: 10px;
}
#Goshop .GoshopCon .shopCon_Div .Goshop_DivTwo .GoshopWen{
	font-size: 11px;
	color: blue;
}
#Go_shopping{
	width: 990px;
	height: 359px;
	margin: 0 auto;
}
#Go_shopping .Go_shoppingTop{
	width: 990px;
	height: 23px;
	margin-bottom: 10px;
}
#Go_shopping .Go_shoppingTop .Go_shopWen{
	width: 48px;
	height: 23px;
	display: inline-block;
	font-size: 12px;
	line-height: 23px;
	margin-right: 13px;
}
/*为上面的文字 添加样式*/
.a{
	color: red;
	border-bottom: 3px solid red;
	border-image-width: 40px;
}
#Go_shopping .Go_shoppingBottom{
	width: 990px;
	height: 326px;
	position: absolute;
}
#Go_shopping .Go_shoppingBottom .Fadein_Div{
	width: 247px;
	height: 306px;
	border: 1px dashed #ccc;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
	cursor: pointer;
	background: #fff;
}
#Go_shopping .Go_shoppingBottom .Fadein_Div:hover{
	border: 1px solid red;
}
#Go_shopping .Go_shoppingBottom .Fadein_Div:nth-child(2),
#Go_shopping .Go_shoppingBottom .Fadein_Div:nth-child(3),
#Go_shopping .Go_shoppingBottom .Fadein_Div:nth-child(4){
	border-left: none;
}
#Go_shopping .Go_shoppingBottom .Fadein_Div .Fadein_Img{
	width: 160px;
	height: 160px;
	margin-left: 23px;
}
#Go_shopping .Go_shoppingBottom .Fadein_Div .Fadein_Wen{
	width: 206px;
	height: 36px;
	margin-top: 5px;
	font-size: 12px;
	color: #666;
	white-space: pre-wrap;
	text-align: center;
}
#Go_shopping .Go_shoppingBottom .Fadein_Div .Fadein_addcar{
	width: 206px;
	height: 30px;
	margin-top: 10px;
}
#Go_shopping .Go_shoppingBottom .Fadein_Div .Fadein_addcar .Fadein_car{
	width: 125px;
	height: 30px;
	border: 1px solid #666;
	margin: auto;
	border-radius: 3px;
	padding-left: 20px;
	color: #666;
	font-size: 12px;
	line-height: 30px;
}
#Go_shopping .Go_shoppingBottom .Fadein_Div .Fadein_addcar .Fadein_car .Fadein_icon{
	width: 18px;
	height: 18px;
	background: url(../images/adidas/banner/3.png) 0 -57px;
	margin-top: 7px;
	float: left;
	margin-right: 10px;
}
#rightfixed{
	width: 32px;
	height: 100%;
	background:#37383c;
	position: fixed;
	right: 0;
	top: 0;
	text-align: center;
}
#rightfixed .rightfixed_1{
	width: 32px;
	height: 530px;
	/*background: #990055;*/
	position: absolute;
	right: 0;
	top: 25%;
}
#rightfixed .rightfixed_1 .tubiao1{
	width: 26px;
	height : 40px;
	border-bottom : 1px solid #666666;
	line-height: 40px;
	margin: 0 auto;
	/*background: yellow;*/
	margin-bottom: 2px;
}
#rightfixed .rightfixed_1 .tubiao1 i{
	color: #ef5549;
}
#rightfixed .rightfixed_1 .tubiao2 i{
	color: #ef5549;
}
#rightfixed .rightfixed_1 .tubiao2{
	width: 26px;
	height : 91.4px;
	border-bottom : 1px solid #666666;
	line-height: 40px;
	margin: 0 auto;
	color: #ef5549;
}
#rightfixed .rightfixed_1 .tubiao1:hover,
#rightfixed .rightfixed_1 .tubiao2:hover{
	background:#CE160D;
	
}
#rightfixed .rightfixed_1 .tubiao1:hover i{
	color: #F5F2F0;
}
#rightfixed .rightfixed_1 .tubiao2:hover i{
	color: #F5F2F0;
}
#rightfixed .rightfixed_1 .tubiao2:hover span{
	color:#F5F2F0 ;
}
/*右侧隐藏div*/
#rightfixed .rightfixed_1 .tubiao1 .hidefixed{/*隐藏div*/
	width: 108px;
	height: 40px;
	background: black;
	opacity: 0.7;
	position: absolute;
	right: 80px;
	top: 0;
	color: white;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	display: none;
	border-radius: 5px;
}
#rightfixed .rightfixed_1 .tubiao1 .hidefixed .arrow{/*隐形的菱形图标*/
	position: absolute;
	right: -5px;
	color: black;
	opacity: 0.7;
}